.cardRest {
  display: flex;
  align-items: flex-start;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.imageContainer {
  width: 500px;
  margin-right: 10px;
  margin-bottom: 30px;
}

.descriptionContainer {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

p {
  margin-left: 20px;
  margin-right: 20px;
}
