.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.btn_group {
  display: flex;
  gap: 20px;
  margin: 15px;
}

.btn__add__rest {
  margin-top: 100px;
  margin-left: 30px;
}
