@keyframes highlight {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: yellow;
  }
  100% {
    background-color: transparent;
  }
}

.SearchBar input.ant-select-search__field {
  animation: 2s infinite highlight;
}

.SearchBar {
    width: 99%; 
    margin-top: 100px; 
    margin-bottom: 30px;
    margin-left: 10px;
}

Select:focus-within {
    outline: none;
    border-color: yellow;
}