.form {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.add_btn {
  align-self: flex-end;
}

.scrollDiv {
  height: auto;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stars {
  display: flex;
  align-self: flex-end;
}

.icon {
  margin-right: 10;
  cursor: pointer;
}
