.carousel {
  margin: 50px 0px;
}

.info {
  padding: 20px;
  width: 65%;
  height: 100%;
  border: 2px solid black;
  border-radius: 20px;
}

.icon {
  font-size: 20px;
}

.cuisine {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info_cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a,
a:hover {
  color: #22222f;
}

h1 {
  margin: 15px 0px;
}

.main_info > p,
.additional_info > p,
a {
  margin: 10px 0px;
  display: flex;
  gap: 10px;
  font-size: 15px;
}

.additional_info > span:first-child {
  font-size: 25px;
}

.btn_group {
  margin-top: 30px;
}
.button {
  font-size: 20px;
}

.description {
  font-size: 15px;
  margin: 20px 10px;
  text-align: center;
}

.reviews {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
}
