.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  width: 100%;
  padding: 0 20px;
}

.link_group,
.profile_group {
  display: flex;
  gap: 55px;
}

.profile_group {
  align-items: center;
  gap: 30px;
}

.icon {
  font-size: 25px;
  padding-top: 20px;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
