.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  width: 100%;
  padding: 0 20px;
}

.link_group,
.profile_group {
  display: flex;
  gap: 55px;
}

.profile_group {
  align-items: center;
  gap: 30px;
}

.icon {
  font-size: 25px;
  padding-top: 20px;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.link_group {
  display: flex;
  gap: 30px;
}

.brand_name {
  font-size: 20px; 
  font-weight: bold; 
  font-family: 'Your Font Name', sans-serif;
}

.header {
  border-bottom: 2px solid gray; /* Add a bottom border to the header */
}


@import url('https://fonts.googleapis.com/css2?family=Your+Font+Name&display=swap');
